@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.09, 1.09, 1.09);
  }

  85%, 100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes fillSVGLine {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}

@keyframes scale-animation-grid {
  from {
    transform: translate(-8.5%, -8.5%) scale(1.1);
  }
}

@keyframes scale-animation-pv {
  from {
    transform: translate(-6.2%, -2%) scale(1.1);
  }
}

@keyframes scale-animation-battery {
  from {
    transform: translate(-5%, -7%) scale(1.1);
  }
}

@keyframes scale-animation-load {
  from {
    transform: translate(-1.5%, -4.5%) scale(1.1);
  }
}

@keyframes power-flow {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 20;
  }
}