//bulma vars and utils
@import "../../node_modules/bulma/sass/utilities/initial-variables";


//(overriding bulma vars)
@import "_variables";

//bulma itself
@import "../../node_modules/bulma/bulma";

//fonts
@import "_fonts";

//rest of our css
@import "_main";